<h1>Create a New Team </h1>

<% if @team.errors.any?  %>
 <div id="error explanation">
 <h2>We found a few errors in your form:</h2>
 <ul>
 <% @team.errors.full_messages.each do |message| %>
   <li><%= message %></li>
 <% end  %>
 </ul>
<% end  %>

<%= form_for(@team) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :school %>
  <%= f.text_field :school %><br><br>
  <%= f.label :team_spirit %>
  <%= f.number_field :team_spirit %><br><br>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <%= f.label :history %>
  <%= f.text_field :history %> <br>
  <%= f.collection_check_boxes(:athlete_ids, @athletes, :id, :name)%>
  <%= f.submit %>

  <br> <br>
<% end %>

<%= @athletes.each do |athlete| %>
  <img src="<%= athlete.image %>" class="image-circle" >
  <p><%= athlete.name %> </p>
  <p><%= athlete.offense %>  </p>
  <p><%= athlete.defense %></p>
  <p><%= athlete.bio %></p>
<% end %>
