<h3>Team Show Page</h3>

<ul>
        <li>Name: <%= @team.name %> </li>
        <li>School: <%= @team.school %> </li>
        <li>History: <%= @team.history %> </li>
        <li>Calculated Team Spirit: <%= @team.team_spirit.round(3) %> </li>

</ul>

<h2>Stats</h2>
<ul>
    <li>Offense Rating: <%=@team.offensive_score %></li>
    <li>Defensive Rating: <%=@team.defensive_score %></li>
    <li>Overall Power Score: <%= @team.power_score %></li>
</ul>

<h2>Roster</h2>
<ul>
<% @team.athletes.each do |item| %>
    <li><%= link_to item.name, athlete_path(item)%> </li>
<%end%>
</ul>

<%= link_to ('Back to All Teams'), teams_path%>



