<header class="bg-primary text-center py-5 mb-4">
        <div class="container">
          <h1 class="font-weight-light text-white">Meet <%= @team.user.username %>'s <%= @team.name.capitalize %></h1>
        </div>
      </header>
      
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-2 col-md-3 mb-4">
            <div class="card border-0 shadow">
                <a href="<%= athlete_path(@team.athletes[0])%>">
                <img src="<%= @team.athletes[0].image %>" class="card-img-top" alt="...">
                </a>
              <div class="card-body text-center">
                <h5 class="card-title mb-0"><%= @team.athletes[0].name %></h5>
                <div class="card-text text-black-50">Spiritual Leader</div>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-2 col-md-3 mb-4">
            <div class="card border-0 shadow">
            <a href="<%= athlete_path(@team.athletes[1])%>">
              <img src="<%= @team.athletes[1].image %>" class="card-img-top" alt="...">
              </a>
              <div class="card-body text-center">
                <h5 class="card-title mb-0"><%= @team.athletes[1].name %></h5>
                <div class="card-text text-black-50">Bench Warmer</div>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-xl-2 col-md-3 mb-4">
            <div class="card border-0 shadow">
                <a href="<%= athlete_path(@team.athletes[2])%>">
                    <img src="<%= @team.athletes[2].image %>" class="card-img-top" alt="...">
                </a>
              <div class="card-body text-center">
                <h5 class="card-title mb-0"><%= @team.athletes[2].name %></h5>
                <div class="card-text text-black-50">Hi-Five Guru</div>
              </div>
            </div>
          </div>
          <!-- Team Member 4 -->
          <div class="col-xl-2 col-md-3 mb-4">
            <div class="card border-0 shadow">
                    <a href="<%= athlete_path(@team.athletes[3])%>">
                            <img src="<%= @team.athletes[3].image %>" class="card-img-top" alt="...">
                    </a>
              <div class="card-body text-center">
                <h5 class="card-title mb-0"><%= @team.athletes[3].name %></h5>
                <div class="card-text text-black-50">Can't Dunk</div>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-md-3 mb-4">
                <div class="card border-0 shadow">
                        <a href="<%= athlete_path(@team.athletes[4])%>">
                                <img src="<%= @team.athletes[4].image %>" class="card-img-top" alt="...">
                            </a>
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0"><%= @team.athletes[4].name %></h5>
                    <div class="card-text text-black-50">Real Gym Rat</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 4 -->
        </div>
      
      </div>

<h1>Team Stats</h1>

<div class="col-xl-2 col-md-3 mb-4">
<ul>
    <li>Offense Rating: <%=@team.offensive_score.round(3) %></li>
    <li>Defensive Rating: <%=@team.defensive_score.round(3) %></li>
    <li>Overall Power Score: <%= @team.power_score.round(3) %></li>
</ul>
</div>

<%= link_to ('Back to All Teams'), teams_path%>



