<h3>Bracket Home Page</h3>

<h2>Testing matchups....</h2>

<% list=@teams.to_a %>

<% ordered_teams=list.sort_by{|t| t.power_score}.reverse %>

<% seeded=@bracket.seed_teams(ordered_teams) %>

<% seeded.each do |t| %>
<%= t.name %> <br>
<% end %>


<br>


<%hashed=list.map do |t|%>
    <% [t.name, t.power_score] %>
<% end.to_h %>


<% hashed=hashed.sort_by {|k, v| v}.reverse.to_h%>

<%= hashed %>
 <br>

<% hkeys=hashed.keys %>

<% for i in 0..hashed.length-1 %>
<%= hkeys[i] %> SEED: <%= i+1 %> <br>
<% end %>

<br>
<br>
<br>
<% #length-1 games per bracket%>




<% for i in 0..(seeded.length-2) %>
    <%curr_teams=seeded.shift(2)%>
    <% t1=curr_teams[0] %>
    <% t2=curr_teams[1] %> 
    T1: <%= t1.name %> (Power Score: <%= t1.power_score %>) vs T1: <%= t2.name %>(Power Score: <%= t2.power_score %>) <br>
    <% winner= @bracket.play_game(t1, t2)%>
    <%seeded.push(curr_teams[winner])%>
    Winner: <%=curr_teams[winner].name%>
    <br>
<% end %>