<h1>Edit an Athlete </h1>

<% if @athlete.errors.any?  %>
 <div id="error explanation">
 <h2>We found a few errors in your form:</h2>
 <ul>
 <% @athlete.errors.full_messages.each do |message| %>
   <li><%= message %></li>
 <% end  %>
 </ul>
<% end  %>

<%= form_for @athlete do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %>
 
 <%= f.submit %>
 </div>
<% end %>