<h3>Athlete Home Page</h3>

<ul>
    <li>Name: <%= @athlete.name %> </li>
    <li>Age: <%= @athlete.age %> </li>
    <li>Bio: <%= @athlete.bio %> </li>
    <li>School: <%= @athlete.school %> </li>
    <li>Offensive Rating: <%= @athlete.offense %> </li>
    <li>Defensive Rating: <%= @athlete.defense %> </li>
    <li>Team: <%= link_to @athlete.team.name, team_path(@athlete.team)%></li>
</ul>

<%= link_to ('Back to All Athletes'), athletes_path%>
