<h4><%= @bracket.name %> </h4>
<h4>Teams:</h4>
<% @teams.each do |t| %>
    <%=t.name%> Power: <%=t.power_score %> <br>
<% end %>
 <br>

<% ordered=@bracket.order_by_power(@teams) %>

ORDERED: <br>
<%ordered.each do |s| %>
    <%= s.name %> Power: <%=s.power_score %> <br>
<% end %>

<% brackets_order=@bracket.bracket_order(16) %> <br>

<% final_bracket=@bracket.whole_bracket(@teams, 16) %>

<br>

SEEDED: <br>
<%final_bracket.each do |s| %>
    <%= s.name %> Power: <%=s.power_score %>  <%= brackets_order[final_bracket.index(s)] %> <br>
<% end %>

<br>

<h3>Simulating Bracket........</h3>
<% for i in 0..(final_bracket.length-2) %>
    <%curr_teams=final_bracket.shift(2)%>
    <% t1=curr_teams[0] %>
    <% t2=curr_teams[1] %> 
    T1: <%= t1.name %> (Power Score: <%= t1.power_score %>) vs T1: <%= t2.name %>(Power Score: <%= t2.power_score %>) <br>
    <% winner= @bracket.play_game(t1, t2)%>
    <%final_bracket.push(curr_teams[winner])%>
    Winner: <%=curr_teams[winner].name%>
    <br> <br>
<% end %>


